@{
    Layout = null;
    ViewBag.Title = "Home";
}


<div class="controls ui-helper-clearfix">
    <h2>Test App</h2>
</div>


<div id="gridArea" >
</div>





<div id="notesWindow" class="ui-helper-hidden">
    <div>
        <p><textarea id="entryNotes" class="messageBox_vsmall mgn5-b"></textarea></p>
    </div>
</div>